.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.home-section1,
.home-section2 {
  margin: 15px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.desc,
.details-desc {
  width: 50%;
  padding: 23px;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(99, 96, 96, 0.7),
    rgba(99, 96, 96, 0.3)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(28, 160, 41, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: white;
}

.slogo {
  width: 18vw !important;
}
.heading {
  text-align: center;
  padding: 12px;
  color: white;
}
.details {
  width: 50%;
  gap: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-link {
  color: white;
  background-color: dodgerblue;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
}
.details-link:hover {
  font-weight: 400;
  color: white;
  background-color: transparent;
  border: 1px solid dodgerblue;
}

.slide > img {
  border-radius: 50%;
}
