.subNav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
}

.subDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 13px;
}

.subNavLinks {
  background-color: dodgerblue;
  border-radius: 12px;
  padding: 12px;
}

.subNavLinks:hover {
  background-color: transparent;
  border: 1px solid dodgerblue;
}
