.login-form{
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 45px;
    border: 2px solid black;
    border-radius: 15px;
    width: 25%;
}

.login-form > input{
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid black;
}

.login-form > input:focus{
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid brown;
}

.login-form > button{
    border: none;
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    border-radius: 3px;
}

.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}